.main-color{
    color: #78B386;
}

.small-color{
    color: #D1D2D1;
}

.small-title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:5px;
}

.admin-block{
    width: 1000px;
    padding: 80px;
    background-color: #ef4f4f;
    display: inline;
    opacity: .7;
    color: white;
    font-size: 50px;
}
